<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asia</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b3af913a6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

<header class="main__header">
    <div class="container__header">
        <div class="header__logo">
            <a href="/index">
                Onboard
            </a>
            <a href="/index" style="font-size: 12px;">
                모두의 보드, 즐거운 여행
            </a>
        </div>
        <div class="header__form">
            <form action="/search" method="get">
                <input class="header__search" type="text" name="keyword" spellcheck="false">
                <button class="header__button"type="submit ">
                    <i class="fa-solid fa-magnifying-glass header__icon"></i>
                </button>
            </form>
        </div>
    </div>
</header>


<nav class="main__nav">
    <div class="container__nav">
        <ul class="nav__ul">
            <li style="flex: 0.8;">
                <div>
                    <a href="/world/asia?country=1">아시아</a>
                </div>
            </li>
            <li style="flex: 0.65;">
                <div>
                    <a href="/world/europe?country=2">유럽</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/world/northAmerica?country=3">북아메리카</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/world/southAmerica?country=4">남아메리카</a>
                </div>
            </li>
            <li >
                <div>
                    <a href="/world/oceania?country=5">오세아니아</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/notice">공지사항</a>
                </div>
            </li>
        </ul>
        <div class="slick-class">
            <div> 전체보드수 4263개 </div>
            <div> 전체게시글 12835개 </div>
            <div> 전체댓글수 902 </div>
        </div>
    </div>
</nav>

<main class="main__main">
    <div class="container__main">
        <section class="main__section">
            <div class="main__divTop">
                <div>
                    인기글
                </div>
                <div style="flex: 1; padding: 3px; justify-content: flex-end;">
                    <button class="button__boardCreate" type="button"
                            onclick="location.href='/createBoard?place=1';">
                        보드  만들기
                    </button>
                </div>
            </div>
            <div class="main__divMid">
                사진1
            </div>
            <div class="main__divBotTitle">
                아시아 &thinsp; <span th:text="'(' + ${boardCount} + ')'"></span>
            </div>
            <div style="flex: 17.5;">
                <div class="custom-div" th:each="i : ${#numbers.sequence(1, 4)}">
                    <ul>
                        <li th:each="board, stat : ${boards}"
                            th:if="${stat.index < (i * 24)} and ${stat.index >= ((i - 1) * 24)} and ${board.place.equals('1')}">
                            <a href="/board"><span th:text="${#strings.length(board.b_name) > 17 ? board.b_name.substring(0, 17) + '...' : board.b_name}"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <aside class="main__aside">
            <div class="aside__loginDiv">
                <form id="loginForm" class="aside__loginForm" action="/login_proc" method="post">
                    <fieldset>
                        <legend>로그인</legend>
                        <div class="aside__loginLeft">
                            <input type="text" id="userid" name="username">
                            <input type="password" id="pwd" name="password">
                            <!--<input> 요소는 기본적으로 설정된 최소 크기가 있습니다. 만약 너비나 높이가 설정되지 않으면, Flexbox는 이 기본 크기를 기준으로 계산하게 되는데, 이 경우 flex: 1;이 유효하게 작동하지 않습니다.
                            기본적으로 입력 필드가 너무 작게 설정되면 Flexbox는 해당 요소의 크기를 조정할 수 없게 됩니다.-->
                        </div>
                        <div class="aside__loginRight">
                            <button>
                                로그인
                            </button>
                        </div>
                    </fieldset>
                </form>
                <div class="emptySpace" id="emptySpace" style="display: none;"></div>
                <!--emptySpace.show();를 하면 display 속성이 변경돼서 다시 보인다-->
                <div class="aside__loginFormUnder">
                    <a id="join" href="join">회원가입</a>
                    <a id="find" href="find">아이디 or 비밀번호 찾기</a>
                    <a id="logoutBtn" href="/index/logout">로그아웃</a>
                </div>
            </div>
            <div style="flex: 5; display: flex; flex-direction: column;">
                <div style="flex: 1;">
                    <img src="/img/fly.jpg" style="height: 100%; width: 100%;">
                </div>
                <div style="flex: 1;">
                    <img src="/img/fly3.jpg" style="height: 100%; width: 100%;">
                </div>
            </div>
        </aside>
    </div>
</main>

<footer class="main__footer">
    <div>
        <ul class="footer__ul">
            <li>
                회사소개
                <span>|</span>
            </li>
            <li>
                이용약관
                <span>|</span>
            </li>
            <li>
                개인정보처리방침
                <span>|</span>
            </li>
            <li>
                청소년보호정책
            </li>
        </ul>
    </div>
    <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
</footer>

<script src="/js/global.js"></script>
</body>
</html>