<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modifyNick</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/findId.css">
</head>
<body>
<header>
    <div class="divLogo__header">
        <a href="/index">
            Onboard
        </a>
    </div>
    <div class="divTitle__header">
        <a href="/index">
            Everyone's Board, Fun Trip
        </a>
    </div>
</header>

<main>
    <section>
        <div class="divTitle__section">
            <h3 style="color: #29367c;">ニックネーム再設定</h3>
        </div>
        <form class="form__section" id="form__section" action="/modifyNick_proc" method="post">
            <fieldset class="fieldset__section">
                <legend>ニックネーム再設定</legend>
                <p>新しいニックネームを入力してください。</p>
                <div class="mailGroup__fieldset group" style="margin-top: 15px;">
                    <div class="msgBox__mailGroup msgBox">
                        <input type="hidden" name="userid" th:value=${userid}>
                        <input type="text" id="newNick" name="newNick" placeholder="新しいニックネーム入力">
                        <button type="submit">
                            確認
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</main>


<footer style="box-sizing: border-box;">
    <div>
        <ul class="footer__ul">
            <li style="min-width: 65px;">
                <a href="/intro">会社概要</a>
            </li>
        </ul>
    </div>
    <div>
        <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
    </div>
</footer>
<script src="../js/findId.js"></script>
</body>
</html>