<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modifyPwd</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/newPwd.css">
</head>
<body>
<header>
    <div class="divLogo__header">
        <a href="/index">
            Onboard
        </a>
    </div>
    <div class="divTitle__header">
        <a href="/index">
            모두의 보드, 즐거운 여행
        </a>
    </div>
</header>

<main>
    <section>
        <div class="divTitle__section">
            <h3 style="color: #29367c;">이메일 재설정</h3>
        </div>
        <form class="form__section" action="/newMail_proc" method="post">
            <fieldset class="fieldset__section">
                <legend>이메일 재설정</legend>
                <p>새로 사용할 이메일을 입력해 주세요.</p>
                <div class="mailGroup__fieldset group">
                    <div class="msgBox__mailGroup msgBox">
                        <input type="hidden" name="userid" th:value=${userid}>
                        <input type="text" id="newMail" name="newMail" placeholder="새 이메일을 입력해 주세요.">
                        <input type="text" id="newMailCheck" placeholder="새 이메일을 재확인해 주세요.">
                        <button type="submit">
                            확인
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</main>


<footer style="box-sizing: border-box;">
    <div>
        <ul class="footer__ul">
            <li style="min-width: 65px;">
                회사소개
                <span>|</span>
            </li>
            <li style="min-width: 65px;">
                이용약관
                <span>|</span>
            </li>
            <li style="min-width: 112px;">
                개인정보처리방침
                <span>|</span>
            </li>
            <li style="min-width: 100px;">
                청소년보호정책
            </li>
        </ul>
    </div>
    <div>
        <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
    </div>
</footer>
</body>
</html>