*{
    padding: 0;
    margin: 0;
}

a:link {color: white; text-decoration: none;}
a:visited {color: white;}
a:hover {color: white;}
a:active {color: white;}

input {

    width: 400px; height: 35px;
    padding: 0 10px;
    font-size: 15px;
}

header {

    display: block;
    background-color: #29367c;
    display: flex;
    min-width: 800px;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 20px;
}

.divLogo__header {

    background-color: #29367c;
    text-align: center;
    max-width: 357.5px;
    min-width: 357.5px;
    margin-left: auto;
    font-weight: bold;
    font-size: 40px;
    font-style: italic; /* 기울임꼴 설정 */
    color: white;
}

.divTitle__header {

    background-color: #29367c;
    text-align: center;
    max-width: 357.5px;
    min-width: 357.5px;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
    font-style: italic; /* 기울임꼴 설정 */
    color: white;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;

}

main {

    display: block;
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    min-width: 800px;
    max-width: 800px;
}

section {

    min-width: 800px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

#button_select {

    display: flex;
    justify-content: center;
    margin: 35px 0 0 0;
    gap: 20px;
}

#button_select button:nth-of-type(1) {

    width: 390px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #29367c;
    color: #29367c;
    background-color: #ffffff;
}

#button_select button:nth-of-type(2) {

    width: 390px;
    height: 60px;
    border: 2px solid #aaabab;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background-color: #aaabab;
}

.divTitle__section {

    flex: 0.3;
    display: flex;
    font-size: 15px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 3px solid #29367c;
    min-width: 800px;
    max-width: 800px;
}

.form__section {

    min-width: 800px;
    max-width: 800px;
    flex: 5;
    display: flex;
    flex-direction: column;
}

.fieldset__section {

    box-sizing: border-box;
    display: flex; flex-direction: column; flex: 1;
    padding: 50px 110px; border: 1px solid #ccc; border-radius: 5px;
}

fieldset div {

    display: flex;
    background-color: #f3f3f3;
    width: 550px; height: 170px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

fieldset div div button {

    background-color: #3b4890;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    width: 424px;
    height: 35px;
}

fieldset p:nth-of-type(1) {

    font-size: 15px;
    font-color: #31900;
    font-weight: bold;
}

fieldset p:nth-of-type(2) {

    font-size: 14px;
    margin: 10px 0 20px 0;
}


.msgBox {

    display: flex; flex-direction: column;
    gap: 15px;
}

.title__form {

    max-width: 150px;
    min-width: 150px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    justify-content: center;
}

legend {

    position: absolute;
    width: 1px; height: 1px; margin: -1px; padding: 0; border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.divButton__section {
    flex: 0.3;
    display: flex;
    min-width: 800px;
    max-width: 800px;
}


footer {

    padding-top: 20px;
    border-top: 1px solid #29367c;
    position: relative;
    bottom: 20px;
    display: block;
    min-width: 800px;
    margin: 0 auto;
    text-align: center;
}

footer div {

    max-width: 800px; min-width: 800px;
    margin-left: auto; margin-right: auto;
}

.footer__ul {

    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    font-size: 14px;
}

.footer__ul li {

    position: relative; margin-right: 20px;
}

.footer__ul span {

    position: absolute; right: -10px; top: 0;
}