<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b3af913a6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/b3af913a6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/board.css">
</head>

<body>

<header class="main__header">
    <div class="container__header">
        <div class="header__logo">
            <a href="/index">
                Onboard
            </a>
            <a href="/index" style="font-size: 12px;">
                Everyone's Board, Fun Trip
            </a>
        </div>
        <div class="header__form">
            <form action="/search_proc" method="post">
                <input class="header__search" type="text" name="keyword" spellcheck="false">
                <button class="header__button"type="submit ">
                    <i class="fa-solid fa-magnifying-glass header__icon"></i>
                </button>
            </form>
        </div>
    </div>
</header>


<nav class="main__nav">
    <div class="container__nav">
        <ul class="nav__ul">
            <li style="flex: 0.8;">
                <div>
                    <a href="/world/asia?place=1">アジア</a>
                </div>
            </li>
            <li style="flex: 0.8;">
                <div>
                    <a href="/world/europe?place=2">ヨーロッパ</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/world/northAmerica?place=3">北アメリカ</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/world/southAmerica?place=4">南アメリカ</a>
                </div>
            </li>
            <li >
                <div>
                    <a href="/world/oceania?place=5">オセアニア</a>
                </div>
            </li>
        </ul>
        <div class="slick-class">
            <div th:utext="'全ボード数&#8201;&#8201;' + ${boardCount} + '件'"> 全ボード数</div>
            <div th:utext="'全投稿数&#8201;&#8201;' + ${postCount} + '件'"> 全投稿数</div>
            <div th:utext="'全コメント数&#8201;&#8201;' + ${commentsCount} + '件'"> 全コメント数</div>
        </div>
    </div>
</nav>

<main class="main__main">
    <div class="container__main">
        <section class="main__section">
            <div class="main__divTop" style="gap: 5px;">
                <div style="flex: none; font-size: 24px; max-height: 48px; font-family: 'Segoe UI'; font-weight: bold; padding: 9px 0 9px 9px;">
                    <a th:text="${boardInfo.b_name}" th:href="@{/board(bidx=${boardInfo.bidx}, page=1)}" style="color: #29367c;"></a>
                </div>
                <div style="flex: none; font-size: 24px; max-height: 48px; font-family: 'Segoe UI'; font-weight: bold; padding: 0;">
                    <span style="position: relative; top: 7px; color: #29367c; padding: 0;">&#x24D1;</span>
                    <!--보드 이름 옆의 B 아이콘 출력-->
                </div>
            </div>
            <div class="main__divMid">
                <div class="boardCoverImg"></div>
                <div class="boardIntro" th:text="${boardInfo.intro}"></div>
                <div class="boardManager">
                    <div>
                        <strong>管理者</strong>
                        <span th:text="${boardInfo.nick} + '(' + ${boardInfo.userid} +')'"></span>
                    </div>
                    <div>
                        <strong>開設日</strong>
                        <span th:text="${date}"></span>
                    </div>
                    <div>
                        <button th:onclick="|location.href='@{/createPost(bidx=${boardInfo.bidx})}'|"
                        style="width: 82px; background-color: #3b4890; font-weight: bold; color: white; border: none;">投稿する</button>
                    </div>
                </div>
            </div>
            <table>
                <colgroup>
                    <col style="width:7%;">
                    <col style="width:8%;">
                    <col style="width:44%;">
                    <col style="width:18%;">
                    <col style="width:8%;">
                    <col style="width:8%;">
                    <col style="width:7%;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">カテゴリー</th>
                        <th scope="col">タイトル</th>
                        <th scope="col">作成者</th>
                        <th scope="col">作成日</th>
                        <th scope="col">閲覧数</th>
                        <th scope="col">いいね</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="post, iter : ${postList}">
                        <td th:text="${totalPosts - ((currentPage - 1) * pageSize) - iter.index}">number</td>
                        <td th:switch="${post.category}" style="font-weight: bold;">
                            <span th:case="'1'">一般</span>
                            <span th:case="'2'">ニュース</span>
                            <span th:case="'3'">告知</span>
                        </td>
                        <td>
                            <a class="boardListTitle" th:href="@{/post(pidx=${post.pidx}, bidx=${post.bidx})}" th:text="${post.title}"></a>
                        </td>
                        <td th:text="${post.nick} + (${post.nick == 'ㅇㅇ'} ? '(' + ${#strings.substring(post.userip, 0, 7)} + ')' : '')"></td>
                        <td th:text="${#strings.replace(#strings.substring(post.regdate, 2, 10), '-', '/')}"></td>
                        <td th:text="${post.viewCount}"></td>
                        <td th:text="${post.goodCount}"></td>
                    </tr>
                </tbody>
            </table>
            <div id="pageNav" th:with="pageBlock=10,
                startPage=${((currentPage - 1) / pageBlock) * pageBlock + 1},
                tempEnd=${startPage + pageBlock - 1},
                endPage=${tempEnd > totalPages ? totalPages : tempEnd}">

                <!-- 이전 블록 링크: 현재 블록의 시작페이지가 1보다 클 때 -->
                <a th:if="${startPage > 1}"
                   th:href="@{'/board'(bidx=${boardInfo.bidx}, page=${startPage - 1})}">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>

                <!-- 페이지 번호 출력: 현재 블록의 startPage부터 endPage까지 -->
                <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a th:if="${i != currentPage}"
                       th:href="@{'/board'(bidx=${boardInfo.bidx}, page=${i})}"
                       th:text="${i}"></a>
                    <b th:if="${i == currentPage}" th:text="${i}"></b>
                </span>

                <!-- 다음 블록 링크: 현재 블록의 끝페이지가 전체 페이지 수보다 작을 때 -->
                <a th:if="${endPage < totalPages}"
                   th:href="@{'/board'(bidx=${boardInfo.bidx}, page=${endPage + 1})}">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </section>

        <aside class="main__aside">
            <div class="aside__loginDiv">
                <!-- 로그인 전 보이는 박스 -->
                <form th:unless="${session.userid != null}" id="loginForm" class="aside__loginForm" action="/login_proc" method="post">
                    <fieldset>
                        <legend>ログイン</legend>
                        <div class="aside__loginLeft">
                            <input type="text" id="userid" name="username" placeholder="ID">
                            <input type="password" id="pwd" name="password" placeholder="パスワード">
                            <!--<input> 요소는 기본적으로 설정된 최소 크기가 있습니다. 만약 너비나 높이가 설정되지 않으면, Flexbox는 이 기본 크기를 기준으로 계산하게 되는데, 이 경우 flex: 1;이 유효하게 작동하지 않습니다.
                            기본적으로 입력 필드가 너무 작게 설정되면 Flexbox는 해당 요소의 크기를 조정할 수 없게 됩니다.-->
                        </div>
                        <div class="aside__loginRight">
                            <button>
                                ログイン
                            </button>
                        </div>
                    </fieldset>
                </form>
                <div th:unless="${session.userid != null}" class="aside__loginFormUnder">
                    <a id="join" href="/join">会員登録</a>
                    <p>ㅣ</p>
                    <a id="find" href="/findId">ID・PWをお忘れの方</a>
                </div>
                <!-- 로그인 후 보이는 박스 -->
                <div th:if="${session.userid != null}" class="aside__userInfo">
                    <span>こんにちは!</span><br><span style= "font-weight: bold;" th:text="${session.nick}"></span>さん
                </div>
                <div th:if="${session.userid != null}" class="aside__loginFormUnder">
                    <a id="logoutBtn" href="/index/logout">ログアウト</a>
                    <p>ㅣ</p>
                    <a id="modifyBtn" href="/infoModifyPwdCheck">会員情報更新</a>
                </div>
            </div>
            <div style="flex: 5; display: flex; flex-direction: column;">
                <div style="flex: 1; background-image: url('/img/fly.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
                <div style="flex: 1; background-image: url('/img/fly3.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
            </div>
        </aside>
    </div>
</main>

<footer style="box-sizing: border-box;">
    <div>
        <ul class="footer__ul">
            <li style="min-width: 65px;">
                会社概要
                <span>|</span>
            </li>
            <li style="min-width: 65px;">
                利用規約
            </li>
        </ul>
    </div>
    <div>
        <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
    </div>
</footer>

<script src="/js/global.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/ <!--생략가능-->

    var boardInfo = /*[[${boardInfo}]]*/ {};

    const dynamicUrl = `/boardImg/${boardInfo.image}`;

    document.querySelector('.boardCoverImg').style.backgroundImage = `url(${dynamicUrl})`;

    /*]]>*/ <!--생략가능-->
</script>
</body>
</html>