<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createBoard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b3af913a6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="/css/createBoard.css">
</head>

<body>

<header class="main__header">
    <div class="container__header">
        <div class="header__logo">
            <a href="/index">
                Onboard
            </a>
            <a href="/index" style="font-size: 12px;">
                모두의 보드, 즐거운 여행
            </a>
        </div>
        <div class="header__form">
            <form action="/search" method="get">
                <input class="header__search" type="text" name="keyword" spellcheck="false">
                <button class="header__button"type="submit ">
                    <i class="fa-solid fa-magnifying-glass header__icon"></i>
                </button>
            </form>
        </div>
    </div>
</header>


<nav class="main__nav">
    <div class="container__nav">
        <ul class="nav__ul">
            <li style="flex: 0.8;">
                <div>
                    <a href="/asia">아시아</a>
                </div>
            </li>
            <li style="flex: 0.65;">
                <div>
                    <a href="/europe">유럽</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/northAmerica">북아메리카</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/southAmerica">남아메리카</a>
                </div>
            </li>
            <li >
                <div>
                    <a href="/oceania">오세아니아</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/notice">공지사항</a>
                </div>
            </li>
        </ul>
        <div class="slick-class">
            <div> 전체보드수 4263개 </div>
            <div> 전체게시글 12835개 </div>
            <div> 전체댓글수 902 </div>
        </div>
    </div>
</nav>

<main>
    <section>
        <div class="TitleDiv__section">보드 만들기</div>
        <div class="RuleDiv__section">
            <div class="TopDiv__RuleDiv">
                <p>누구나 보드를 만들 수 있습니다.</p>
                <p>보드의 운영 권한 및 의무는 개설자에게 부여됩니다.</p>
                <p>보드는 3개까지 개설할 수 있습니다.</p>
            </div>
            <div class="BottomDiv__RuleDiv">
                <p style="line-height: 1.5;">
                [모든 이용자가 지켜야 하는 원칙]<br>
                모든 이용자는 보드 주제에 맞는 정상적인 활동을 해주셔야 합니다.<br>
                온보드 서비스에 등록하는 모든 콘텐츠의 저작권은 게시한 이용자 본인에게 있으며,<br>
                이로 인해 발생되는 문제에 대해서도 해당 게시물을 게시한 이용자에게 책임이 있습니다.<br>
                모든 이용자는 이용약관 및 운영원칙을 준수해야 하며,<br>
                이를 지키지 않아 발생하는 문제에 대해 일체의 책임을 져야 합니다.
                </p>
            </div>
        </div>
        <form action="/createBoard_proc" method="post">
            <fieldset>
                <legend>보드 만들기</legend>
                <input type="hidden" id="userid" name="userid" th:value="${userid}">
                <input type="hidden" id="nick" name="nick" th:value="${nick}">
                <div class="worldGroup div">
                    <div class="title">지역</div>
                    <select id="place" name="place">
                        <option id="asia" value="1">아시아</option>
                        <option id="europe" value="2">유럽</option>
                        <option id="northAmerica" value="3">북아메리카</option>
                        <option id="southAmerica" value="4">남아메리카</option>
                        <option id="oceania" value="5">오세아니아</option>
                    </select>
                </div>
                <div class="titleGroup div">
                    <div class="title">이름</div>
                    <input type="text" id="b_name" name="b_name">
                </div>
                <div class="introGroup div">
                    <div class="title">설명</div>
                    <input type="text" id="intro" name="intro">
                </div>
                <div class="reasonGroup div">
                    <div class="title">개설 이유</div>
                    <input type="text" id="reason" name="reason">
                </div>
            </fieldset>
            <div class="ButtonDiv__section">
                <button>취소</button>
                <button style="background-color: #29367c;">만들기</button>
            </div>
        </form>
    </section>
</main>

<footer class="main__footer">
    <div>
        <ul class="footer__ul">
            <li>
                회사소개
                <span>|</span>
            </li>
            <li>
                이용약관
                <span>|</span>
            </li>
            <li>
                개인정보처리방침
                <span>|</span>
            </li>
            <li>
                청소년보호정책
            </li>
        </ul>
    </div>
    <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
</footer>

<script type="text/javascript">
    $(document).ready(function(){
      $('.slick-class').slick({
          infinite: false,
          slidesToShow: 1,
          slickPlay: true,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 2000
        });
    });
</script>
</body>
</html>