<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createBoard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b3af913a6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="../css/createBoard.css">
</head>

<body>

<header class="main__header">
    <div class="container__header">
        <div class="header__logo">
            <a href="/index">
                Onboard
            </a>
            <a href="/index" style="font-size: 12px;">
                Everyone's Board, Fun Trip
            </a>
        </div>
        <div class="header__form">
            <form action="/search_proc" method="post">
                <input class="header__search" type="text" name="keyword" spellcheck="false">
                <button class="header__button"type="submit ">
                    <i class="fa-solid fa-magnifying-glass header__icon"></i>
                </button>
            </form>
        </div>
    </div>
</header>


<nav class="main__nav">
    <div class="container__nav">
        <ul class="nav__ul">
            <li style="flex: 0.8;">
                <div>
                    <a href="/world/asia?place=1">アジア</a>
                </div>
            </li>
            <li style="flex: 0.8;">
                <div>
                    <a href="/world/europe?place=2">ヨーロッパ</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/world/northAmerica?place=3">北アメリカ</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/world/southAmerica?place=4">南アメリカ</a>
                </div>
            </li>
            <li >
                <div>
                    <a href="/world/oceania?place=5">オセアニア</a>
                </div>
            </li>
        </ul>
        <div class="slick-class">
            <!-- th:text는 CSS는 그대로 적용되지만 HTML 태그는 단순 텍스트로 처리됩니다. -->
            <div th:utext="'全ボード数&#8201;&#8201;' + ${boardCount} + '件'"> 全ボード数</div>
            <div th:utext="'全投稿数&#8201;&#8201;' + ${postCount} + '件'"> 全投稿数</div>
            <div th:utext="'全コメント数&#8201;&#8201;' + ${commentsCount} + '件'"> 全コメント数</div>
        </div>
    </div>
</nav>

<main>
    <section style="margin-bottom: 100px;">
        <div class="TitleDiv__section">ボード開設</div>
        <div class="RuleDiv__section">
            <div class="TopDiv__RuleDiv">
                <p>誰でもボードを作成できます。</p>
                <p>ボードの運営権限および義務は、開設者に付与されます。</p>
            </div>
            <div class="BottomDiv__RuleDiv">
                <p style="line-height: 1.5;">
                [全ての利用者が守るべき原則]<br>
                全ての利用者は、ボードのテーマに沿った適切な活動を行う必要があります。<br>
                オンボードサービスに登録される全てのコンテンツの著作権は、投稿した利用者本人に帰属し、<br>
                これにより発生する問題についても、該当の投稿を行った利用者が責任を負います。<br>
                全ての利用者は、利用規約および運営原則を遵守しなければならず、<br>
                これを守らなかったことにより発生する問題について、一切の責任を負わなければなりません。
                </p>
            </div>
        </div>
        <form action="/createBoard_proc" method="post" enctype="multipart/form-data" class="formBoard">
            <fieldset>
                <legend>ボード開設</legend>
                <input type="hidden" id="userid" name="userid" th:value="${userid}">
                <input type="hidden" id="nick" name="nick" th:value="${nick}">
                <div class="worldGroup div">
                    <div class="title">地域</div>
                    <select id="place" name="place">
                        <option id="asia" value="1">アジア</option>
                        <option id="europe" value="2">ヨーロッパ</option>
                        <option id="northAmerica" value="3">北アメリカ</option>
                        <option id="southAmerica" value="4">南アメリカ</option>
                        <option id="oceania" value="5">オセアニア</option>
                    </select>
                </div>
                <div class="titleGroup div">
                    <div class="title">タイトル</div>
                    <input type="text" id="b_name" name="b_name" placeholder="(30文字以内にしてください。)">
                </div>
                <div class="imageGroup div">
                    <div class="title">イメージ</div>
                    <input type="file" name="files" class="files" multiple>
                    <span>&#8251; ボードのイメージを１つ登録してください。</span>
                </div>
                <div class="introGroup div">
                    <div class="title">説明</div>
                    <textarea id="intro" name="intro" placeholder="(100文字以内にしてください。)"></textarea>
                </div>
                <div class="reasonGroup div" style="margin-bottom: 40px;">
                    <div class="title">開設理由</div>
                    <textarea id="reason" name="reason" placeholder=" (100文字以内にしてください。)"></textarea>
                </div>
                <div class="ButtonDiv__section">
                    <button>キャンセル</button>
                    <button style="background-color: #29367c;">開設</button>
                </div>
            </fieldset>
        </form>
    </section>
</main>

<footer style="box-sizing: border-box;">
    <div>
        <ul class="footer__ul">
            <li style="min-width: 65px;">
                会社概要
                <span>|</span>
            </li>
            <li style="min-width: 65px;">
                利用規約
            </li>
        </ul>
    </div>
    <div>
        <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
    </div>
</footer>

<script type="text/javascript">
    $(document).ready(function(){
      $('.slick-class').slick({
          infinite: false,
          slidesToShow: 1,
          slickPlay: true,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 2000
        });
    });
</script>
<script src="/js/setBoard.js"></script>
</body>
</html>