<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>findPwd</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/setPwd.css">
</head>
<body>
<header>
    <div class="divLogo__header">
        <a href="/index">
            Onboard
        </a>
    </div>
    <div class="divTitle__header">
        <a href="/index">
            Everyone's Board, Fun Trip
        </a>
    </div>
</header>

<main>
    <section>
        <div id="button_select">
            <button id="button_findId">IDを探す</button>
            <button>パスワードを再設定する</button>
        </div>
        <div class="divTitle__section">
            <h3 style="color: #29367c;">パスワードを再設定する</h3>
        </div>
        <form class="form__section" action="/findPwd_proc" method="post">
            <fieldset class="fieldset__section">
                <legend>パスワードを再設定する</legend>
                <p style="color: #d31900;">ID, メールアドレスを入力して探す。</p>
                <p>&#8251; 会員登録時に入力したID、メールアドレスを入力してください。</p>
                <div class="mailGroup__fieldset group">
                    <div class="msgBox__mailGroup msgBox">
                        <input type="text" id="mail" name="mail" placeholder="メールアドレスを入力してください。">
                        <input type="text" id="userid" name="userid" placeholder="IDを入力してください。">
                        <button type="submit">
                            確認
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</main>


<footer style="box-sizing: border-box;">
    <div>
        <ul class="footer__ul">
            <li style="min-width: 65px;">
                <a href="/intro">会社概要</a>
            </li>
        </ul>
    </div>
    <div>
        <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
    </div>
</footer>

<script src="../js/findPwd.js"></script>
</body>
</html>