<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>idNotFound</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/findId.css">
</head>
<body>
<header>
    <div class="divLogo__header">
        <a href="/index">
            Onboard
        </a>
    </div>
    <div class="divTitle__header">
        <a href="/index">
            모두의 보드, 즐거운 여행
        </a>
    </div>
</header>

<main>
    <section>
        <div id="button_select">
            <button>아이디 찾기</button>
            <button id="button_findPwd">비밀번호 재설정</button>
        </div>
        <div class="divTitle__section">
            <h3 style="color: #29367c;">아이디 조회 결과</h3>
        </div>
        <form class="form__section" action="/findId_proc" method="post">
            <fieldset class="fieldset__section">
                <legend>아이디 찾기</legend>
                <p>입력한 정보와 일치하는 아이디를 확인해 주세요.</p>
                <p>로그인할 수 있는 아이디가 표시됩니다.</p>
                <div class="mailGroup__fieldset group">
                    <div class="msgBox__mailGroup msgBox">
                        <h3>입력한 정보와 일치하는 아이디를 찾지 못했습니다.</h3>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
</main>


<footer style="box-sizing: border-box;">
    <div>
        <ul class="footer__ul">
            <li style="min-width: 65px;">
                회사소개
                <span>|</span>
            </li>
            <li style="min-width: 65px;">
                이용약관
                <span>|</span>
            </li>
            <li style="min-width: 112px;">
                개인정보처리방침
                <span>|</span>
            </li>
            <li style="min-width: 100px;">
                청소년보호정책
            </li>
        </ul>
    </div>
    <div>
        <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
    </div>
</footer>

<script src="../js/findId.js"></script>
</body>
</html>