<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/join.css">
</head>
<body>
<header>
    <div class="divLogo__header">
        <a href="/index">
        Onboard
        </a>
    </div>
    <div class="divTitle__header">
        <a href="/index">
            Everyone's Board, Fun Trip
        </a>
    </div>
</header>

<main>
    <section>
        <div class="divTitle__section">
            <h3 style="color: #29367c;">基本情報入力</h3>
        </div>
        <form class="form__section" action="/join_proc" method="post">
            <fieldset class="fieldset__section">
                <legend>会員登録</legend>
                <div class="idGroup__fieldset">
                    <div class="title__form">ID</div>
                    <div class="msgBox__idGroup msgBox">
                        <input type="text" id="userid" name="userid" placeholder="( 5から15文字の文字列を使用してください。)">
                        <p id="useridCheck"></p>
                        <p>● 小文字と数字の組み合わせなければいけません。</p>
                        <p>● IDを忘れないようにしてください、後で探すことができません。</p>
                        <p style="color: #D31900;">★ 一度登録されたIDは変更できません。</p>
                    </div>
                </div>
                <div class="pwGroup__fieldset group">
                    <div class="title__form">パスワード</div>
                    <div class="msgBox__pwGroup msgBox">
                        <input type="password" id="pwd" name="pwd" placeholder="パスワードを入力">
                        <input type="password" id="pwdCheck" placeholder="パスワードを再入力" style="margin-top: 10px;">
                        <p id="policy">パスワードポリシー</p>
                        <p>1. 英字、数字、記号を組み合わせなければいけません。</p>
                        <p>2. 8から20文字の文字列を使用してください。</p>
                    </div>
                </div>
                <div class="nickGroup__fieldset group">
                    <div class="title__form">ニックネーム</div>
                    <div class="msgBox__nickGroup msgBox">
                        <input type="text" id="nick" name="nick" placeholder="( 2から10文字の文字列を使用してください。)">
                        <p id="nickCheck"></p>
                        <p>● スペースは使用できません。</p>
                        <p>● 日本語、韓国語、英語、数字だけ許されています。</p>
                    </div>
                </div>
                <div class="mailGroup__fieldset group">
                    <div class="title__form">メールアドレス</div>
                    <div class="msgBox__mailGroup msgBox">
                        <input type="text" id="mail" name="mail" placeholder="メールアドレスを入力">
                        <input type="text" id="mailCheck" placeholder="メールアドレスを再入力" style="margin-top: 10px;">
                    </div>
                </div>
            </fieldset>
            <div class="divButton__section" style="display: flex; justify-content: center; gap: 50px; margin-top: 30px;">
                <button>
                    キャンセル
                </button>
                <button type="submit" style="background-color: #29367c;">
                    登録
                </button>
            </div>
        </form>
    </section>
</main>


<footer style="box-sizing: border-box;">
    <div>
        <ul class="footer__ul">
            <li style="min-width: 65px;">
                <a href="/intro">会社概要</a>
            </li>
        </ul>
    </div>
    <div>
        <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
    </div>
</footer>
<script src="/js/setMember.js"></script>
</body>
</html>