<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modifyPost</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b3af913a6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="/css/createPost.css">
</head>

<body>

<header class="main__header">
    <div class="container__header">
        <div class="header__logo">
            <a href="/index">
                Onboard
            </a>
            <a href="/index" style="font-size: 12px;">
                Everyone's Board, Fun Trip
            </a>
        </div>
        <div class="header__form">
            <form action="/search_proc" method="post">
                <input class="header__search" type="text" name="keyword" spellcheck="false">
                <button class="header__button"type="submit ">
                    <i class="fa-solid fa-magnifying-glass header__icon"></i>
                </button>
            </form>
        </div>
    </div>
</header>

<nav class="main__nav">
    <div class="container__nav">
        <ul class="nav__ul">
            <li style="flex: 0.8;">
                <div>
                    <a href="/world/asia?place=1">アジア</a>
                </div>
            </li>
            <li style="flex: 0.8;">
                <div>
                    <a href="/world/europe?place=2">ヨーロッパ</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/world/northAmerica?place=3">北アメリカ</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="/world/southAmerica?place=4">南アメリカ</a>
                </div>
            </li>
            <li >
                <div>
                    <a href="/world/oceania?place=5">オセアニア</a>
                </div>
            </li>
        </ul>
        <div class="slick-class">
            <!-- th:text는 CSS는 그대로 적용되지만 HTML 태그는 단순 텍스트로 처리됩니다. -->
            <div th:utext="'全ボード数&#8201;&#8201;' + ${boardCount} + 'ボード'"> 全ボード数</div>
            <div th:utext="'全投稿数&#8201;&#8201;' + ${postCount} + '件'"> 全投稿数</div>
            <div th:utext="'全コメント数&#8201;&#8201;' + ${commentsCount} + '件'"> 全コメント数</div>
        </div>
    </div>
</nav>

<main>
    <div class="postBox__main">
        <div style="margin: 0 25px 0 25px;">
            <div class="main__divTop " style="border-bottom: 2px solid #29367c;">
                <div th:text="${boardInfo.b_name}"></div>
                <div>
                    <span style="position: relative; bottom: 2px; color: #29367c; padding: 0;">&#x24D1;</span>
                    <!--보드 이름 옆의 B 아이콘 출력-->
                </div>
            </div>
            <div class="divForm">
                <form action="/modifyPost_proc" method="post" enctype="multipart/form-data" >
                    <input type="hidden" name="pidx" th:value="${post.pidx}">
                    <input type="hidden" name="userip" th:value="${ip}">

                    <div class="divPpwd">
                        <input type="text" name="ppwd" th:value="${post.ppwd}"
                               placeholder="削除パスワードを入力してください。">
                    </div>
                    <div class="divCategory">
                        <select id="category" name="category">
                            <option id="general" value="1">一般</option>
                            <option id="news" value="2">ニュース</option>
                            <option id="notice" value="3">告知</option>
                        </select>
                    </div>

                    <div class="divTitle">
                        <input type="text" name="title" th:value="${post.title}"
                               placeholder="タイトルを入力してください。">
                    </div>

                    <div class="divFiles">
                        <input type="file" name="files" multiple>
                    </div>

                    <div class="divWarn">
                            <span style="line-height:190%;">
                                ※ 簡単なパスワードを設定すると、第三者に修正や削除をされる恐れがあります。<br>
                                ※ 猥褻物、差別、侮辱、ヘイトスピーチ、および肖像権・著作権侵害に該当する投稿は、民事上および刑事上の責任を問われる可能性があります。
                            </span>
                    </div>
                    <div class="divText">
                        <textarea name="text" style="resize: none;" th:text="${post.text}"></textarea>
                    </div>
                    <div class="divButton">
                        <button onclick="history.back()" style="background-color: #666666;">キャンセル</button>
                        <button>投稿</button>
                    </div>
                </form>
            </div>
            <div class="divBottom"></div>
        </div>
    </div>
</main>
<footer style="box-sizing: border-box;">
    <div>
        <ul class="footer__ul">
            <li style="min-width: 65px;">
                会社概要
                <span>|</span>
            </li>
            <li style="min-width: 65px;">
                利用規約
            </li>
        </ul>
    </div>
    <div>
        <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
    </div>
</footer>
<script src="/js/comment.js"></script>
<script src="/js/global.js"></script>

</body>
</html>