<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Post</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/b3af913a6d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link rel="stylesheet" href="/css/post.css">
</head>

<body>

<header class="main__header">
  <div class="container__header">
    <div class="header__logo">
      <a href="/index">
        Onboard
      </a>
      <a href="/index" style="font-size: 12px;">
        모두의 보드, 즐거운 여행
      </a>
    </div>
    <div class="header__form">
      <form action="/search" method="get">
        <input class="header__search" type="text" name="keyword" spellcheck="false">
        <button class="header__button"type="submit ">
          <i class="fa-solid fa-magnifying-glass header__icon"></i>
        </button>
      </form>
    </div>
  </div>
</header>


<nav class="main__nav">
  <div class="container__nav">
    <ul class="nav__ul">
      <li style="flex: 0.8;">
        <div>
          <a href="/world/asia?place=1">아시아</a>
        </div>
      </li>
      <li style="flex: 0.65;">
        <div>
          <a href="/world/europe?place=2">유럽</a>
        </div>
      </li>
      <li>
        <div>
          <a href="/world/northAmerica?place=3">북아메리카</a>
        </div>
      </li>
      <li>
        <div>
          <a href="/world/southAmerica?place=4">남아메리카</a>
        </div>
      </li>
      <li >
        <div>
          <a href="/world/oceania?place=5">오세아니아</a>
        </div>
      </li>
      <li>
        <div>
          <a href="/notice">공지사항</a>
        </div>
      </li>
    </ul>
    <div class="slick-class">
      <div> 전체보드 0개 </div>
      <div> 전체게시글 0개 </div>
      <div> 전체댓글 0개 </div>
    </div>
  </div>
</nav>

<main class="main__main">
  <div class="postBox__main">
    <div style="margin: 0 25px 0 25px;">
      <div class="main__divTop " >
        <div th:text="${boardInfo.b_name}"></div>
        <div>
          <span style="position: relative; bottom: 2px; color: #29367c; padding: 0;">&#x24D1;</span>
          <!--보드 이름 옆의 B 아이콘 출력-->
        </div>
      </div>
      <div class="postTitle__main" style="border-top: 2px solid #29367c; box-sizing: border-box;">
        <span th:text="${post.title}">게시글 제목</span><br>
        <span th:text="${post.nick} + (${post.nick == 'ㅇㅇ'} ? '(' + ${#strings.substring(post.userip, 0, 7)} + ')' : '')">
          닉네임</span><span th:text="${post.regdate}">닉네임(ip), 등록일</span>
      </div>
      <div class="postText__main" th:text="${post.text}">
        게시글 내용
      </div>
      <div>
        <div>(전체 댓글 카운트 div)</div>
        <div>(댓글 table)</div>
      </div>

      <form action="/comment_proc" method="post">
        <div>
          댓글 작성 form
          <input type="hidden" name="pidx" th:value="${post.pidx}">
          <input type="hidden" name="userid" th:value="${userid}">
          <input type="hidden" name="userip" th:value="${userip}">
          <input type="hidden" name="nick" th:value="${nick}">
          <input type="password" name="cPwd">
        </div>
        <div>
          <input type="text" name="text">
        </div>
        <div><button>등록</button></div>
      </form>
      <div>
        (게시글 수정, 삭제 버튼)
      </div>
    </div>
  </div>
  <div class="container__main">
    <section class="main__section">
      <table>
        <colgroup>
          <col style="width:7%">
          <col style="width:6%">
          <col style="width:51%">
          <col style="width:18%">
          <col style="width:6%">
          <col style="width:6%">
          <col style="width:6%">
        </colgroup>
        <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">말머리</th>
          <th scope="col">제목</th>
          <th scope="col">글쓴이</th>
          <th scope="col">작성일</th>
          <th scope="col">조회</th>
          <th scope="col">추천</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postList}">
          <td> number </td>
          <td th:switch="${post.category}" style="font-weight: bold;">
            <span th:case="'1'">일반</span>
            <span th:case="'2'">뉴스</span>
            <span th:case="'3'">공지</span>
          </td>
          <td>
            <a th:href="@{/post(pidx=${post.pidx}, bidx=${post.bidx})}" th:text="${post.title}"></a>
          </td>
          <td th:text="${post.nick} + (${post.nick == 'ㅇㅇ'} ? '(' + ${#strings.substring(post.userip, 0, 7)} + ')' : '')"></td>
          <td th:text="${#strings.replace(#strings.substring(post.regdate, 2, 10), '-', '/')}"></td>
          <td th:text="${post.view_count}"></td>
          <td th:text="${post.good_count}"></td>
        </tr>
        </tbody>
      </table>
    </section>

    <aside class="main__aside">
      <div class="aside__loginDiv">
        <form id="loginForm" class="aside__loginForm" action="/login_proc" method="post">
          <fieldset>
            <legend>로그인</legend>
            <div class="aside__loginLeft">
              <input type="text" id="userid" name="username">
              <input type="password" id="pwd" name="password">
              <!-- <input> 요소는 기본적으로 설정된 최소 크기가 있습니다. 만약 너비나 높이가 설정되지 않으면,
              Flexbox는 이 기본 크기를 기준으로 계산하게 되는데, 이 경우 flex: 1;이 유효하게 작동하지 않습니다.
              기본적으로 입력 필드가 너무 작게 설정되면 Flexbox는 해당 요소의 크기를 조정할 수 없게 됩니다.-->
            </div>
            <div class="aside__loginRight">
              <button>
                로그인
              </button>
            </div>
          </fieldset>
        </form>
        <div class="emptySpace" id="emptySpace" style="display: none;"></div>
        <div class="aside__loginFormUnder">
          <a id="join" href="join">회원가입</a>
          <a id="find" href="find">아이디 or 비밀번호 찾기</a>
          <a id="logoutBtn" href="index/logout">로그아웃</a>
        </div>
      </div>
      <div style="flex: 5; display: flex; flex-direction: column;">
        <div style="flex: 1; background-image: url('/img/fly.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        </div>
        <div style="flex: 1; background-image: url('/img/fly3.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        </div>
      </div>
    </aside>
  </div>
</main>

<footer class="main__footer">
  <div>
    <ul class="footer__ul">
      <li>
        회사소개
        <span>|</span>
      </li>
      <li>
        이용약관
        <span>|</span>
      </li>
      <li>
        개인정보처리방침
        <span>|</span>
      </li>
      <li>
        청소년보호정책
      </li>
    </ul>
  </div>
  <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
</footer>

<script src="/js/global.js"></script>
</body>
</html>