<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Post</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/b3af913a6d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://kit.fontawesome.com/b3af913a6d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/post.css">
</head>

<body>

<header class="main__header">
  <div class="container__header">
    <div class="header__logo">
      <a href="/index">
        Onboard
      </a>
      <a href="/index" style="font-size: 12px;">
        Everyone's Board, Fun Trip
      </a>
    </div>
    <div class="header__form">
      <form action="/search_proc" method="post">
        <input class="header__search" type="text" name="keyword" spellcheck="false">
        <button class="header__button" type="submit ">
          <i class="fa-solid fa-magnifying-glass header__icon"></i>
        </button>
      </form>
    </div>
  </div>
</header>


<nav class="main__nav">
  <div class="container__nav">
    <ul class="nav__ul">
      <li style="flex: 0.8;">
        <div>
          <a href="/world/asia?place=1">アジア</a>
        </div>
      </li>
      <li style="flex: 0.8;">
        <div>
          <a href="/world/europe?place=2">ヨーロッパ</a>
        </div>
      </li>
      <li>
        <div>
          <a href="/world/northAmerica?place=3">北アメリカ</a>
        </div>
      </li>
      <li>
        <div>
          <a href="/world/southAmerica?place=4">南アメリカ</a>
        </div>
      </li>
      <li >
        <div>
          <a href="/world/oceania?place=5">オセアニア</a>
        </div>
      </li>
    </ul>
    <div class="slick-class">
      <!-- th:text는 CSS는 그대로 적용되지만 HTML 태그는 단순 텍스트로 처리됩니다. -->
      <div th:utext="'全ボード数&#8201;&#8201;' + ${boardCount} + '件'"> 全ボード数</div>
      <div th:utext="'全投稿数&#8201;&#8201;' + ${postCount} + '件'"> 全投稿数</div>
      <div th:utext="'全コメント数&#8201;&#8201;' + ${commentsCount} + '件'"> 全コメント数</div>
    </div>
  </div>
</nav>

<main class="main__main">
  <div class="postBox__main">
    <div style="margin: 0 25px 0 25px;">
      <div class="main__divTop">
        <div>
          <a th:text="${boardInfo.b_name}" th:href="@{/board(bidx=${boardInfo.bidx}, page=1)}"></a>
        </div>
        <div>
          <span style="position: relative; bottom: 2px; color: #29367c; padding: 0;">&#x24D1;</span>
          <!--보드 이름 옆의 B 아이콘 출력-->
        </div>
      </div>

      <div class="postTitle__main">
        <div style="font-size: 14px; font-weight: bold;">
          <span th:text="${post.category == '1' ? '[一般]' : (post.category == '2' ? '[ニュース]' : (post.category == '3' ? '[告知]' : 'その他')) }">게시글 제목</span>
          <span th:text="${post.title}"></span>
        </div>
        <div style="font-size: 13px;">
          <span th:text="${post.nick} + (${post.nick == 'ㅇㅇ'} ? '(' + ${#strings.substring(post.userip, 0, 7)} + ')' : '')">
            닉네임</span>
          <span th:text="${post.newdate != null ? 'ㅣ ' + post.newdate + ' (修正)' : 'ㅣ ' + post.regdate}"></span>
        </div>
      </div>

      <div class="postText__main" th:utext="${post.text}" style="padding: 10px;">
        게시글 내용
      </div>

      <div class="postThumb__main">
        <button>
          <i class="fa-solid fa-plane thumb_icon"></i>
        </button>
        <span>
          いいね
        </span>
      </div>

      <!--첨부 파일-->
      <div class="postFiles__main">
        <div>
          <span>添付ファイル</span>
          <span th:text="${sfileList.contains('') ? '0' : sfileList.size()}"></span><br>
          <a th:each="sfile, iter : ${sfileList}"
             th:href="@{/download(fileName=${sfile})}"
             th:download="${sfile}">
            <span th:utext="${ofileList[iter.index]} + '&nbsp;'"></span>
          </a>
        </div>
      </div>
      <!--첨부 파일-->

      <div class="postComment__main">
        <div style="font-weight: bold; font-size: 13px; height: 38px; padding: 15px 10px 5px 10px; box-sizing: border-box; margin-top: 15px;">
          <span>コメント</span>
          <span th:text="${commentCount}" style="color: #D31900;"></span>
          <span>個</span>
        </div>
        <div>
          <ul style="border:solid #29367c; border-width: 2px 0; list-style: none;">
            <li id="comment" th:each="comment, stat : ${commentList}" style="display: flex; flex-direction: column; border-bottom: 1px solid #eee; padding-bottom: 15px; position: relative;">
                  <!--댓글 출력-->
                <div class="commentBox">
                    <div class="nickBox">
                      <span th:text="${comment.nick}" style="font-size: 12px;"></span>
                      <span th:text="(${comment.nick == 'ㅇㅇ'} ? '(' + ${#strings.substring(comment.userip, 0, 7)} + ')' : '')"
                            style="font-size: 11px;"></span>
                    </div>
                    <div class="textBox">
                      <button onclick="toggleCommentForm(this)" style="border: none; background: white; cursor: pointer;">
                        <span th:text="${comment.text}" style="font-size: 13px;"></span>
                      </button>
                    </div>
                    <div class="dateBox">
                      <span th:text="${#strings.substring(comment.regdate, 0, 19)}" style="font-size: 12px; color: #999999;"></span>
                    </div>
                    <div class="commentDiv">
                      <form method="post" class="commentDelForm" onsubmit="checkCommentPwd(event)">
                        <input type="hidden" th:id="'bidx' + ${stat.index}" th:value="${comment.post.board.bidx}">
                        <input type="hidden" th:id="'pidx' + ${stat.index}" th:value="${comment.post.pidx}">
                        <input type="hidden" th:id="'cidx-' + ${comment.cidx}" th:value="${comment.cidx}">
                        <input type="password" th:id="'cpwd-' + ${comment.cidx}" class="cpwdInput" placeholder="パスワード">
                        <button type="submit" class="submitBtn">確認</button>
                      </form>
                    </div>
                    <div style="margin-left: 10px;">
                      <button class="xBtnComment" onclick="togglecommentDel(this)">
                        ✕
                      </button>
                    </div>
                  <!--<button class="deleteButton"
                th:onclick="|location.href='@{/postDelete(bidx=${post.board.bidx}, pidx=${post.pidx}, userid=${userid})}'|">삭제</button>-->
                  <!--댓글 출력-->
                </div>

                <div id="formComment" style="display: none; padding-left: 30px; box-sizing: box-border;">
                    <!--대댓글 입력-->
                    <form action="/childcomment_proc" class="childCommentForm" method="post">
                      <div class="childcommentInput" style="display: flex; gap: 10px;">
                        <div style="max-width: 142px; height: 30px;">
                          <input type="hidden" name="cidx" th:value="${comment.cidx}">
                          <input type="hidden" name="userid" th:value="${userid}">
                          <input type="hidden" name="nick" th:value="${nick}">
                          <input type="hidden" name="userip" th:value="${ip}">
                          <input type="password" name="ccpwd" placeholder="パスワード" style="padding: 1px 7px 1px 7px; box-sizing: box-border; max-width: 126px; height: 28px;">
                        </div>
                        <div style="width: 100%;">
                          <textarea name= "text" style="height:106px; width: 100%; resize: none; padding: 10px; box-sizing: border-box;"></textarea>
                        </div>
                      </div>
                      <div style="margin-top: 5px; text-align: right;">
                        <button style="width: 85px; height: 30px; background-color: #3b4890; font-weight: bold; color: white; border: none;">投稿</button>
                      </div>
                    </form>
                    <!--대댓글 입력-->
                </div>

                <div id="childcommentList" style="display: flex; flex-direction: column; padding-left: 30px;">
                  <!--대댓글 출력-->
                  <ul style="list-style: none;">
                    <li id="childcomment" class="childcommentBox" th:each="childcomment, stat : ${comment.childcommentList}" style="display: flex; position: relative;">
                      <div class="nickBox">
                        <span th:text="${childcomment.nick}" style="font-size: 12px;"></span>
                        <span th:text="(${childcomment.nick == 'ㅇㅇ'} ? '(' + ${#strings.substring(childcomment.userip, 0, 7)} + ')' : '')" style="font-size: 12px;"></span>
                      </div>
                      <div class="childTextBox">
                        <span style="font-weight: bold; color: #29367c;">ㄴ</span>
                        <span th:text="${childcomment.text}" style="font-size: 13px;"></span>
                      </div>
                      <div class="dateBox">
                        <span th:text="${#strings.substring(childcomment.regdate, 0, 19)}" style="font-size: 12px; color: #999999;"></span>
                      </div>
                      <div style="margin-left: 10px;">
                        <button class="xBtnChildComment" onclick="toggleChildCommentDel(this)">
                          ✕
                        </button>
                      </div>
                      <div class="commentDiv2">
                        <form class="commentDelForm" method="post" onsubmit="checkChildCommentPwd(event)">
                          <input type="hidden" th:id="'bidx2' + ${stat.index}" th:value="${childcomment.comment.post.board.bidx}">
                          <input type="hidden" th:id="'pidx2' + ${stat.index}" th:value="${childcomment.comment.post.pidx}">
                          <input type="hidden" th:id="'ccidx-' + ${childcomment.ccidx}" th:value="${childcomment.ccidx}">
                          <input type="password" th:id="'ccpwd-' + ${childcomment.ccidx}" class="ccpwdInput"  placeholder="パスワード">
                          <button class="submitBtn">確認</button>
                        </form>
                      </div>
                    </li>
                  </ul>
                  <!--대댓글 출력-->
                </div>
            </li>
          </ul>
        </div>
        <div id="pageNav2" th:with="pageBlock2=2,
                startPage2=${((currentPage2 - 1) / pageBlock2) * pageBlock2 + 1},
                tempEnd2=${startPage2 + pageBlock2 - 1},
                endPage2=${tempEnd2 > totalPages2 ? totalPages2 : tempEnd2}">
          <!-- 이전 블록 링크: 현재 블록의 시작페이지가 1보다 클 때 -->
          <a th:if="${startPage2 > 1}"
             th:href="@{'/post'(pidx=${pidx}, bidx=${bidx}, page1=${currentPage1}, page2=${startPage2 - 1})}">
            <i class="fa-solid fa-arrow-left"></i>
          </a>

          <!-- 페이지 번호 출력: 현재 블록의 startPage부터 endPage까지 -->
          <span th:each="i : ${#numbers.sequence(startPage2, endPage2)}">
            <a class="pageNum" th:if="${i != currentPage2}"
               th:href="@{'/post'(pidx=${pidx}, bidx=${bidx}, page1=${currentPage1}, page2=${i})}"
               th:text="${i}"></a>
            <b th:if="${i == currentPage2}" th:text="${i}"></b>
            </span>

          <!-- 다음 블록 링크: 현재 블록의 끝페이지가 전체 페이지 수보다 작을 때 -->
          <a th:if="${endPage2 < totalPages2}"
             th:href="@{'/post'(pidx=${pidx}, bidx=${bidx}, page1=${currentPage1}, page2=${endPage2 + 1})}">
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>

      <!--댓글 입력-->
      <form id="commentForm" action="/comment_proc" method="post">
        <div class="commentInput" style="display: flex; gap: 10px;">
            <div style="max-width: 142px; height: 30px;">
              <input type="hidden" name="pidx" th:value="${post.pidx}">
              <input type="hidden" name="userid" th:value="${userid}">
              <input type="hidden" name="userip" th:value="${ip}">
              <input type="hidden" name="nick" th:value="${nick}">
              <input type="password" name="cpwd" placeholder="パスワード" style="padding: 1px 7px 1px 7px; box-sizing: box-border; max-width: 126px; height: 28px;">
            </div>
            <div style="width: 100%;">
              <textarea name="text" style="height:106px; width: 100%; resize: none; padding: 10px; box-sizing: border-box" placeholder="他人の権利を侵害または名誉を毀損するコメントは、運営原則および関連法令により罰せられる可能性があります。

Shift+Enter キーを同時に押すと、改行されます。"></textarea>
            </div>
        </div>
        <div style="margin-top: 5px; text-align: right;">
            <button style="width: 85px; height: 30px; background-color: #3b4890; font-weight: bold; color: white; border: none;">投稿</button>
        </div>
      </form>
      <!--댓글 입력-->

      <!--게시글 수정 삭제-->
      <div style="margin: 12px 0 36px 0; text-align: right;">
        <button class="modifyButton"
                th:onclick="|location.href='@{/postModifyPwdCheck(bidx=${post.board.bidx}, pidx=${post.pidx}, userid=${userid})}'|">修正</button>
        <button class="deleteButton"
                th:onclick="|location.href='@{/postDelete(bidx=${post.board.bidx}, pidx=${post.pidx}, userid=${userid})}'|">削除</button>
      </div>
      <!--게시글 수정 삭제-->
    </div>
  </div>

  <div class="container__main">
    <section class="main__section">
      <table style="table-layout: fixed; width: 100%;">
        <colgroup>
          <col style="width:7%;">
          <col style="width:8%;">
          <col style="width:50%;">
          <col style="width:18%;">
          <col style="width:6%;">
          <col style="width:6%;">
          <col style="width:5%;">
        </colgroup>
        <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">カテゴリー</th>
          <th scope="col">タイトル</th>
          <th scope="col">作成者</th>
          <th scope="col">作成日</th>
          <th scope="col">閲覧数</th>
          <th scope="col">いいね</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post, iter : ${postList}">
          <td th:text="${totalPosts - ((currentPage - 1) * pageSize) - iter.index}">number</td>
          <td th:switch="${post.category}" style="font-weight: bold;">
            <span th:case="'1'">一般</span>
            <span th:case="'2'">ニュース</span>
            <span th:case="'3'">告知</span>
          </td>
          <td>
            <a class="postListTitle" th:href="@{/post(pidx=${post.pidx}, bidx=${post.bidx})}" th:text="${post.title}"></a>
            <!--th:onclick="|location.href='@{/modifyPost(pidx=${post.pidx}, bidx=${post.board.bidx})}'|"-->
          </td>
          <td th:text="${post.nick} + (${post.nick == 'ㅇㅇ'} ? '(' + ${#strings.substring(post.userip, 0, 7)} + ')' : '')"></td>
          <td th:text="${#strings.replace(#strings.substring(post.regdate, 2, 10), '-', '/')}"></td>
          <td th:text="${post.viewCount}"></td>
          <td th:text="${post.goodCount}"></td>
        </tr>
        </tbody>
      </table>
      <div id="pageNav" th:with="pageBlock=10,
                startPage=${((currentPage - 1) / pageBlock) * pageBlock + 1},
                tempEnd=${startPage + pageBlock - 1},
                endPage=${tempEnd > totalPages ? totalPages : tempEnd}">

        <!-- 이전 블록 링크: 현재 블록의 시작페이지가 1보다 클 때 -->
        <a th:if="${startPage > 1}"
           th:href="@{'/post'(pidx=${pidx}, bidx=${bidx}, page1=${startPage - 1}, page2=${currentPage2})}">
          <i class="fa-solid fa-arrow-left"></i>
        </a>

        <!-- 페이지 번호 출력: 현재 블록의 startPage부터 endPage까지 -->
        <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a class="pageNum" th:if="${i != currentPage}"
               th:href="@{'/post'(pidx=${pidx}, bidx=${bidx}, page1=${i}, page2=${currentPage2})}"
               th:text="${i}"></a>
            <b th:if="${i == currentPage}" th:text="${i}"></b>
        </span>

        <!-- 다음 블록 링크: 현재 블록의 끝페이지가 전체 페이지 수보다 작을 때 -->
        <a th:if="${endPage < totalPages}"
           th:href="@{'/post'(pidx=${pidx}, bidx=${bidx}, page1=${endPage + 1}, page2=${currentPage2})}">
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </section>

    <aside class="main__aside">
      <div class="aside__loginDiv">
        <!-- 로그인 전 보이는 박스 -->
        <form th:unless="${session.userid != null}" id="loginForm" class="aside__loginForm" action="/login_proc" method="post">
          <fieldset>
            <legend>ログイン</legend>
            <div class="aside__loginLeft">
              <input type="text" id="userid" name="username" placeholder="ID">
              <input type="password" id="pwd" name="password" placeholder="パスワード">
              <!--<input> 요소는 기본적으로 설정된 최소 크기가 있습니다. 만약 너비나 높이가 설정되지 않으면, Flexbox는 이 기본 크기를 기준으로 계산하게 되는데, 이 경우 flex: 1;이 유효하게 작동하지 않습니다.
              기본적으로 입력 필드가 너무 작게 설정되면 Flexbox는 해당 요소의 크기를 조정할 수 없게 됩니다.-->
            </div>
            <div class="aside__loginRight">
              <button>
                ログイン
              </button>
            </div>
          </fieldset>
        </form>
        <div th:unless="${session.userid != null}" class="aside__loginFormUnder">
          <a id="join" href="/join">会員登録</a>
          <p>ㅣ</p>
          <a id="find" href="/findId">ID・PWをお忘れの方</a>
        </div>
        <!-- 로그인 후 보이는 박스 -->
        <div th:if="${session.userid != null}" class="aside__userInfo">
          <span>こんにちは!</span><br><span style= "font-weight: bold;" th:text="${session.nick}"></span>さん
        </div>
        <div th:if="${session.userid != null}" class="aside__loginFormUnder">
          <a id="logoutBtn" href="/index/logout">ログアウト</a>
          <p>ㅣ</p>
          <a id="modifyBtn" href="/infoModifyPwdCheck">会員情報更新</a>
        </div>
      </div>
      <div style="flex: 5; display: flex; flex-direction: column;">
        <div style="flex: 1; background-image: url('/img/fly.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        </div>
        <div style="flex: 1; background-image: url('/img/fly3.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        </div>
      </div>
    </aside>
  </div>
</main>

<footer style="box-sizing: border-box;">
  <div>
    <ul class="footer__ul">
      <li style="min-width: 65px;">
        会社概要
        <span>|</span>
      </li>
      <li style="min-width: 65px;">
        利用規約
      </li>
    </ul>
  </div>
  <div>
    <span style="font-size: 12px;">Copyright ⓒ 2024 - 2025 ondoard. All rights reserved.</span>
  </div>
</footer>
<script src="/js/comment.js"></script>
<script src="/js/global.js"></script>
</body>
</html>